.App {
  text-align: center;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

.nav-logo {
  display: flex;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

div {
  border: solid black 2px;
}
